@import "@/assets/styles/normalize.scss";
@import "@/assets/styles/variables.scss";

html {
  font-size: 10px;
}
body {
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--black);
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}
p,
pre {
  letter-spacing: 0.03em;
  line-height: 3rem;
}
p {
  //18px
  font-size: 1.8rem;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  letter-spacing: 0.03em;
}
h1 {
  font-size: clamp(4.5rem, 7vw, 6.4rem);

  font-weight: 600;
}
h2 {
  /*  font-size: 6.2em; */
  font-size: clamp(4.2rem, 7vw, 6.2rem);
}

h3 {
  /*  font-size: 3.8em; */
  font-size: clamp(2.5rem, 7vw, 3.8rem);
}
h4 {
  font-size: 3em;
}
h5 {
  font-size: 2.5em;
}
h6 {
  font-size: 2em;
}
small,
pre {
  font-size: 1.6rem;
}
pre {
  margin: 0;

  font-family: var(--second-family);
  white-space: pre-wrap;
}

section {
  display: grid;
  justify-content: center;
  padding: 10rem 0;
}

.center__content {
  width: min(100vw, 1400px);
  /*  padding: 0 5rem; */
}
.section__bg-white {
  background-color: var(--white-color);
}

.horisontal__gaps {
  padding: 0 3rem;
}
