@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

:root {
  /* maket agenct */
  --light-green: #64ccc5;
  --black: #0c0c0c;
  --white-color: #fbfbfb;
  --light-grey: #f4f4f4;
  --color-grey: rgb(181, 179, 179);
  --light-black: rgba(12, 12, 12, 0.9);
  --dark-grey: #dfdfdf;

  /* agency fonts  */
  --font-family: "DM Sans", sans-serif;
  --second-family: "Roboto Serif", sans-serif;
  --third-family: "Poppins", sans-serif;
  /*  */
  /*  --color-dark: #000000;
  --color-dark-light: #404040;
  --color-light: #ffffff;
  --color-light-hover: #e2e6ea;
  --color-grey: #f2f2f2;
  --color-darkGrey: #64748b;
  --color-darkGrey2: #d2d2d2;
  --color-violet: #3e3683;
  --color-green: #4ade80;
  --color-darkGreen: #016116;
  --color-violetLight: #5d53b9;
  --color-darkBlue: #516eaa;
  --color-darkBlue-hover: #435c8c;
  --color-azule: #29c5f6;
  --color-red: #e14f42;
  --color-orange: #febe2b;
  --color-link: #646cff;
  --color-link-hover: #535bf2;
  --color-sky: #0ea5e9;
  --color-sky-hover: #0284c7; */
  color: rgba(10, 10, 10, 0.87);
  background-color: var(--color-light);
  /*  --indexSize: calc(1vw + 1vh); */ //~20px
  /*  font-size: calc(var(--indexSize) * 0.7);  */ //18px
  /*   font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}
